*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: $ndclr;
}
ul{
    list-style: none;
}

button{
    cursor: pointer;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}