h1 {
  font-size: 2em;
  font-weight: bold;
}

.cart {
  display: flex;
  gap: 40px;
}

.cart-items {
  flex: 2;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.item img {
  /* width: 70px;
  height: 70px; */
  border-radius: 10px;
}

.details {
  flex: 2;
  padding: 0 20px;
}

.details h3 {
  margin: 0;
}

.price {
  font-weight: bold;
  margin-top: 5px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.delete {
  width: 24px;
height: 24px;

}

.summary {
  flex: 1;
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
}

.summary h2 {
  margin-top: 0;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.discount span {
  color: red;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
}

.promo {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.promo input {
  flex: 1;
  padding: 8px;
}

.promo button {
  padding: 8px 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
