.filter{
    margin-top: 100px;
    margin-bottom: 100px;
}
.filter__inner{
    @include fx;
    flex-direction: column;
    background: $mainclr;
    padding: 60px;
    border-radius: 40px;
}
.filter__category{
    @include fx;
    flex-wrap: wrap;
    width: 100%;
}
.filter__choose{
    margin-top: 20px;
    border-radius: 40px;
    background: white;
    padding: 25px 35px;
    height: 230px;
}
.bi-x-lg{
    cursor: pointer;
}
.small{
    width: 38%;
}
.big{
    width: 58%;
}
.party{
    background: url(/assets//hero/baba.png) no-repeat;
    background-position: center 75%;
    background-size: cover;
}
.gym{
    background: url(/assets//hero/kachok.png) no-repeat;
    background-position: center 75%;
    background-size: cover;
}
.casual{
    background: url(/assets//hero/casual.png) no-repeat;
    background-position: center;
}
.formal{
    background: url(/assets//hero/foraml.png) no-repeat;
    background-position: center left;
}
@media (max-width: 900px) {
    .big,.small{
        width: 48%;
    }
}
@media (max-width: 780px) {
    .filter__inner{
        flex-wrap: wrap;
        padding: 50px 30px;
    }
    .category__filter{
        display: none;
    }
    .category__products{
        width: 100%;
    }
    .new__img{
        min-width: 180px;
        img{
            min-width: 180px;
        }
    }
    .newer__products{
        width: 100%;
    }
    .big,.small{
        width: 100%;
    }
}