h3{
    font-size: 3em;
    font-weight: 700;
}
.new__inner{
    @include fx;
    flex-direction: column;
    gap: 32px;
}
.newer__products{
    @include fx;
    flex-wrap: wrap;
    gap: 5px;
}
.new__products{
    display: flex;
    justify-content: start;
    gap: 20px;
    overflow-y: scroll;
    width: 100%;
}

.new__product{
    min-width: 300px;
    font-weight: 700;
    font-size: 1.2em;
    .new__img{
        border-radius: 20px;
        margin-bottom: 16px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .new__price{
        font-weight: 600;
    }
}
@media (max-width: 1000px) {
    .new__product{
    min-width: 250px;
}
}
@media (max-width: 630px){
    .newer__products{
        justify-content: center;
    }
}
